.weitao {
    .title{
        height: 49px;
        line-height: 49px;
        font-size: 18px;
        background: rgb(255, 68, 0);
        text-align: center;
        color: #fff;
    }
    .menu {
        position: absolute;
        top: 49px;
        bottom: 0px;
        width: 86px;
        .menu-list .menu-item{
            background-color: rgb(245, 245, 245);
            border-radius: 0;
            border-color: rgb(225, 225, 225);
            padding: 10px 0;
            border-bottom: 1px solid rgb(225, 225, 225);
            &.active{
                color: rgb(207, 2, 2);
                background-color: rgb(255, 255, 255);
            }
        }
        .menu-list .menu-item span{
            display: block;
            margin: 10px 0;
            text-align: center;
        }
    }
}


