.order-page{
    .order-title{
        height: 48px;
        background: rgb(255, 68, 0);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 10px;
        .icon{
            font-size: 20px;
            color: #fff;
        }
        .text{
            font-size: 20px;
            color: #fff;
            margin-left: 15px;
        }
    }
    .order-content{
        .delivery-info{
            background: #fff;
            margin-bottom: 10px;
            .delivery-name{
                padding: 10px 47px;
                display: flex;
                justify-content: space-between;
                .name{
                    color: rgb(33, 33, 33);
                    font-size: 18px;
                }
                .phone{
                    color: rgb(33, 33, 33);
                    font-size: 18px;
                }
            }
            .delivery-address{
                display: flex;
                align-items: center;
                .icon{
                    font-size: 20px;
                    padding: 8px 12px;
                }
                .address{
                    margin-left: 10px;
                }
            }
            .delivery-tips{
                padding: 10px 37px;
                color: #c09853;
            }
        }
        .delivery-shop{
            .delivery-shop-title{
                
            }
        }
    }
}